.footer-wrapper {
  padding: 50px 0px 50px 0px;
  .footer-org-logo {
    max-width: 170px;
    max-height: 105px;
  }
}

.footer-inner-wrapper {
  @include flexSpaceBtw;
  flex-direction: row;
  gap: 0px;
}

.social-media-links {
  @include flexflip;
  gap: 15px;

  .ul-list {
    align-self: flex-end;
    @include flexAlign;
    gap: 20px;
  }

  .footer-icon {
    font-size: 30px;
    transition: color 350ms ease-in;

    &:hover {
      color: #049e46;
    }
  }

  p {
    font-size: 15px;
  }
}
